# Variables opcionales
NODE_ENV="development" # development, production, test
PORT=3000

# Transbank Web Pay Integration
TRANSBANK_COMMERCE_CODE="" # Código de comercio (integración)
TRANSBANK_API_KEY="" # API Key secreta
TRANSBANK_ENVIRONMENT="" # integration or production
TRANSBANK_RETURN_URL="http://localhost:3000/api/customer/checkout/commit" # URL que redirige para completar el pago
REDIRECT_AFTER_CHECKOUT_TBK="http://localhost:5173/pedidos" # Ruta que nos redirigirá una vez termine el pago

# Array de orígenes permitidos (dominios), por defecto habilita todos los dominios '*'
ALLOWED_ORIGINS=["http://localhost:5173"]

# Obligatorios
SUPABASE_URL=""
SUPABASE_KEY=""
SUPABASE_BUCKET="" # Nombre del bucket para almacenamiento de imágenes y modelos 3d
JWT_SECRET="" # 32 caracteres mínimo