# Variables opcionales
NODE_ENV="development" # development, production, test
PORT=3000

# Array de orígenes permitidos (dominios), por defecto habilita todos los dominios '*'
ALLOWED_ORIGINS=["http://localhost:5173"]

# Obligatorios
SUPABASE_URL=""
SUPABASE_KEY=""
SUPABASE_BUCKET="" # Nombre del bucket para almacenamiento de imágenes y modelos 3d
JWT_SECRET="" # 32 caracteres mínimo